.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    /* Tiny gap or 0 */
    background-color: var(--color-white);
    /* If gap > 0, this shows through */
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}