.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    background-color: var(--color-background);
    padding-bottom: 80px;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 4px;
        padding-bottom: 100px;
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 4px;
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 120px;
    }
}